//light sys mode

$light-font-color: black;
$light-bg-color: white;

//dakr sys mode
$dark-font-color: white;
$dark-bg-color: black;

// Predefined Break-points
$mediaMaxMobile: 480px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;


//area color
$green: #335C67;
$yellow: #FFF3B0;
$orange: #E09F3E;
$red: #900021;
$darkred: #900021;
$darkgray: #3c3c3c;


//fonts
$font: "Myanmar";
$font-sub:"Sofia Pro";


$lightgray: #a7a7a729;

//font color
$white: white;
$black: black;
$grey: #7b7a7a;
$darkgrey: #3c3c3c;
$antiquewhite:antiquewhite;


